// Custom Variables (RENE)
$primary: #9a0d00;
$secondary: #f8f9fa;
$success: #28a745;
$info: #17a2b8;
$danger: #dc3545;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #000000;
$font-size-base: 1.5rem;



// keep import at the bottom please (RENE)
@import "../node_modules/bootstrap/scss/bootstrap.scss";
