
*{
  padding: 0;
  margin: 0;
  
}
* body{
  background-image: linear-gradient(to right,#080404, #0f0605, #962014, #b72213); 
}

  .parentBox{
   display: flex;
    color: rgb(17, 1, 1);
  
    justify-content: space-between;
   
  }
 .wiseGuyCollection-Logo{
  width: 700px;
  height: 700px;
  margin-top: -10px;

  border-radius: 50%;
  display: flex;
  padding: 1vw;
   } 

 .boxLogo{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
 }

 .box1{
  margin-top: 2vh;
  display: flex;
  margin-left: 20px;
  background-color: aqua;
  width: 25vw;
  height: 70vh;
  flex-direction: column;
 }
 .box3Box4{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
 }
.websiteStory {
  margin-top: 2vh;
  display: flex;
  margin-right: 20px;
  background-color: aqua;
  width: 25vw;
  height: 70vh;
  
}
  .box3{
   
    color: white;
    margin-left: 20px;
    height: 200px;
    width: 310px;
    background-color: red;

  }
  .box4{
    
    color: white;
    height: 200px;
    width: 310px;
    background-color: blue;

  }
  .box5{
    color: white;

  }
  .box6{
    color: white;
  }