*{
    padding: 0;
    margin: 0;
   
   
}

nav{
    margin-top: 20px;
    background-color: rgb(68, 25, 20);
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    
}

/*because a Link converts to an anchor tag i'm using a to target every Link */
a{
    text-decoration: none;
    color: rgb(8, 4, 4);
    
    border-radius: 15px;
}

.headerParentBox {
    display: flex;
    height: 60px;
    justify-content:space-between;
    
    
   

}
.secondBox{
    display: flex;
   
    align-items: center;
    gap: 20px;
    margin-right: 0px;

}
 .secondBox .cart {
    background-color: #201010;
    color: #b72213;
}
.secondBox a{
    background-color: #b72213;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    justify-content: center;
    color: white;
    font-size: 15px;
    
}
.secondBox a:hover{
    background-color: #962014;
    color: white;
   
}

.wiseGuyCollectionHeaderLogo {
    display: flex;
    align-items: center;
   margin-left: 0px;
   
   
}

.wiseGuyCollectionHeaderLogo a{
    background-color: #b72213;
    display: flex;
    color: white;
    height: 100%;
    width: 200px;
    justify-content: flex-end;
    padding-right: 5px;
    font-size: 15px;
    align-items: center;
}
.logo{
    border-radius: 15px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}
.wiseGuyCollectionHeaderLogo a:hover{
    background-color: #962014;
}
