.custom-nav .brand {
    text-align: center;
    font-family: 'Mobster';
    font-size: 2.7vw;
    line-height: 45px;
}

.custom-nav{
    font-size: 3.5vh;
    font-family: 'Mobster';
    background-color:#9b2014;
    border:inset 3px #fff;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(115, 31, 21);
}

 .custom-search {
    margin-right: 20vw;
    width: 40vw;
    height: 2.7vw;
    font-size: 5vh;
}

.custom-dropdown{
    margin-right: 5vw;
    size: 100vw;
}



/*because a Link converts to an anchor tag i'm using a to target every Link */

