/* shop.css */

.shop {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.shop h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 250px;
  height: 250px;
}

