<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WISE GUY COLLECTIONS</title>
</head>
<body>
    <h1>Welcome to WISE GUY COLLECTIONS </h1>




<!-- Section for Live messages (Rene) -->
<div>
    {% if messages %} 
    {%for messages in messages%}
        <div class="alert alert-{{message.tags}}">
            <strong>{{ message }}</strong>
        </div>
    {%endfor%}
{% endif %}
<script>
    setTimeout(() => {
        $(".alert").alert('close');
    })
</script>
</div>
<!-- Live messages end (Rene) -->

</body>
</html>