/* General styling */
h2 {
  text-align: center;
  display: inline;
  margin-left: 25px;
  font-size: 25px;
  line-height: 1.2;
  color: rgb(75, 75, 75);
  font-family: "FortDeath-2";
}

/* Main section */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}


.intro {
  background-color: #ffffff;
  margin-top: 3vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 20px;
  padding-top:12.5vh; padding-bottom: 12.5vh;
  border-radius: 22.5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 80%;
}

.mainHeading {
  text-align: center;
  font-family: "Team-Fury";
  font-size: 40px;
  color: #000000;
}


.mainHeading hr {
  height: 6px;
  background-color: #69061c;
  border-radius: 35%;
  margin: 0 auto; 
  width: 35vw;
  margin-bottom: 1vw;
}

.mainContent{
  margin-top: 5vh;
  font-size: 25px;
  font-weight: 550;
  line-height: 1.5;
}
.mainContent2{
  margin-top: 5vh;
  font-size: 25px;
  font-weight: 550;
  line-height: 1.5;
}

/* Image section */
.WGC-primary-img {
  text-align: center;
  height: auto;
  width: 50vw;
}

/* Button section */
.button {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.shopBtn {
  background-color: black;
  width: fit-content;
  padding: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.shopBtn:hover {
  background-color: white;
  border: 3.5px solid #69061c;
  color: #69061c;
  font-size: 15px;
}