*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  

}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.containers{
  max-width: 1000px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  height: 80px;
  background-color: #000000;
  list-style: none;
}

.footerP{
  background-color: rgb(0, 0, 0);
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: red;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.footer-col ul li a{
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
  margin-bottom: 25px;
}

.footer-col ul li a:hover{
  background-color: #000000;
  padding-left: 20px;
}

.wiseGuyLogo{
width: 400px;
}

.Hitmanlogo{
margin-left:50px;
display: flex;
justify-content: center; 
align-items: center; 
}

.mainContainer{
display: grid;
gap: 85px;
grid-template-columns: 1fr 1fr;
max-width: 1100px;
}

.mainLeft{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.button{
margin-top: 20px;
}

.shopBtn{
background-color: black;
width: fit-content;
padding: 15px ;
color: white;
border-radius: 10px;
cursor: pointer;
}

a .shopBtn{
text-decoration: none;
color: white;
}

.shopBtn:hover  {
background-color: white;
border: 1px solid black;
color: black;
font-size: 15px;
}

.mainHeading{
font-size: 64px;
}

.mainContent{
font-size: 19px;
line-height: 2;
color:  rgb(119, 118, 118);
}

nav{
  height: 120px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
}

.navLeft{
  display: flex;
  align-items: center;
}

.navLinks{
  display: flex;
  margin-left: 64px;
  gap: 40px;
  list-style: none;
}

.right-nav-links{
  margin-left: auto;
}

ul li{
  display: inline-block;
}

ul li a{
  display: block;
  padding: 20px 15px;
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-left:50px;
}

ul li a:hover{
  margin-left:50px;
  justify-content: center; 
  align-items: center; 
  font-weight: 600;
  
  }

ul li ul.dropdown li{
  display: block;
}

.dropdown{
 display: flex;
}

ul li ul.dropdown{
  width: 200px;
  background-color:#141414;
  position: absolute;
  display: none;
}



ul li:hover ul.dropdown{
  display: block;
  margin-top: 320px;
}

.navLinks li{
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  position: relative;
}

.navLinks li:hover{
  color: rgba(119, 118, 118, 0);
}

.navContainer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 3rem;
  color: white;
}

.navLogo{
  width: 50px;
  height: 50px;
}

.registerBtn,.loginBtn{
  padding: 16px 32px;
  border-radius: 15px;
  color: rgb(119, 118, 118);
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
}

.registerBtn{
  border: 1px solid rgb(119, 118, 118);
  color: white;
}

.registerBtn:hover{
  color: rgb(119, 118, 118);
}

.loginBtn{
  border:  none;
  color: white;
}

.loginBtn:hover{
  color: rgb(119, 118, 118);
}

.mobileMenuBtn {
  display: none;
  width: 20px;
}

.mobileMenu{
  display: none;
}

@media screen and (max-width:800px)
{
  .navContainer{
      padding-inline: 16px;
  }

  .mobileMenuBtn{
      display: block;
      width: 60px;
      margin-right: 20px;
  }

  .mobilemenu{
      cursor: pointer;
  }

  .mobileMenu{
      display: block;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      background-color: #141414;
      padding: 80px 32px;
      bottom: 0;
  }

  .mobileLinks{
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style: none;
  }

  .mobileLinks li{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      color: rgb(119, 118, 118);
  }

  .navLinks{
      display: none;
  }

  .loginBtn,.registerBtn{
      display: none;
  }
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



footer{
  margin-top: auto;
}


.mainContainer {
    /* You can apply other styles as needed */
    /* For example, setting a fixed width for the block */
    text-align: center;
    width: 50vw;
    /* Adding padding to create spacing around the block */
    padding: 10%px;
    /* Setting background color and text color */
    background-color: #f0f0f0;
    color: #333;
    /* Centering the block horizontally with margin */
    margin: 0 auto;
}

.WGC-primary-img{
  width: 55vw;
  height: 100vh;
}

.nav-link-HP{
  background-color: black;
  width: fit-content;
  padding: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.nav-link-HP:hover {
  background-color: white;
border: 3.5px solid #69061c;
color: #69061c;
font-size: 15px;
}



/* .Right-nav-item{
} */