

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .containers{
  max-width: 1000px;
  margin: auto;
} */

/* ********************home page ********************/

.Hitmanlogo{
  width: 180px;
  height:120px;
  margin-top: 10px;
margin-left:35px;
display: flex;
justify-content: center; 
align-items: center;
}

.homeContainer {
  padding: 3vw;
 text-align: center;
  width: 50vw;
  color: #333;
  display: inline-block; /* Add this line to make it sit to the left */
}

.WGC-primary-img{
  width: 100vw;
  height: 100vh;
}
.PrimaryLogo{
  width: 50vw;
  height: 100vh;
}

.mainContainer{
display: grid;
grid-template-columns: 1fr 1fr;
max-width: 1100px;
}

.homeHeading{
  font-size: 64px;
  padding: 5vw;
  }
  
  .homeInfo{
  font-size: 25px;
  line-height: 2;
  color:  rgb(119, 118, 118);
  }



/* shop button on home page */
.HSbtn{
  margin-top: 50px;
  /* display: flex;
  justify-content: space-evenly; */
}

.homeBtn{
  text-decoration: none;
  background-color: black;
  width: fit-content;
  padding: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;

}

.homeBtn:hover {
  background-color: white;
border: 3.5px solid #69061c;
color: #69061c;
font-size: 15px;
}


/******************* NAV LINKS AND MENU *****************/
.NavBar{
  height: 140px;
  background-color: #000000;
}
ul{
  height: 130px;
  background-color: #000000;
  list-style: none;
  align-items: center;
}

ul li{
  font-family: 'TeamFury';
  display: inline-block;
  position: relative;
  color: #ffffff;
}

ul li a{
  display: block;
  padding: 25px 0px 15px 0px; 
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-left:40px;
}


/* .registerBtn,.loginBtn{
  padding: 16px 32px;
  border-radius: 15px;
  color: rgb(119, 118, 118);
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
} */

/* .registerBtn{
  border: 1px solid rgb(119, 118, 118);
  color: white;
} */

/* .registerBtn:hover{
  color: rgb(119, 118, 118);
} */

/* .loginBtn{
  border:  none;
  color: white;
}

.loginBtn:hover{
  color: rgb(119, 118, 118);
} */

/* *************************cart page************************* */

.cart-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display three items per line */
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}


/* ***********************SHOP PAGE*********************** */
.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display three items per line */
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.shop-title{
  text-align: center;
  margin-top: 20px;
  font-weight: 900;
  font-family: 'TeamFury'
}


/******************************** CARD ITEM**************************/
.card-item{
  background-color: rgb(0, 0, 0);
  width: 23vw;
  height: 35vw;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border: 1px solid #000000 0 0 10px 10px rgba(255, 3, 3, 0.742);
  color: white;
  margin-top: 3vh;
}

.card-header{
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'TeamFury'
}

.card-image{
  border: #69061c solid 3.5px ;
  border-radius: 5%;
}

.cartpage-message{
  margin-top: 15vh;
  font-size: 50px;
  font-family: 'TeamFury';
  text-align: center;
}

.LoginBtn{
  text-decoration: none;
  background-color: black;
  width: fit-content;
  padding: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;

}

.LoginBtn:hover {
  background-color: white;
border: 3.5px solid #69061c;
color: #69061c;
}


/* FONTS */


@font-face {
  font-family: 'Mobsters';
  src: url('./core/Font/Mobsters.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FortDeath-2';
  src: url('./core/Font/FortDeath-2.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoyaleKingdom';
  src: url('./core/Font/RoyaleKingdom.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeamFury';
  src: url('./core/Font/Team-Fury.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thealiens';
  src: url('./core/Font/thealiens.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
/***************************IMAGES AND LOGOS************************************  */

  










/* *******************************MOBILE STYLES********************************* */

/* .mobileMenuBtn {
  display: none;
  width: 20px;
}

.mobileMenu{
  display: none;
}

@media screen and (max-width:800px)
{
  .navContainer{
      padding-inline: 16px;
  }

  .mobileMenuBtn{
      display: block;
      width: 60px;
      margin-right: 20px;
  }

  .mobilemenu{
      cursor: pointer;
  }

  .mobileMenu{
      display: block;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      background-color: #141414;
      padding: 80px 32px;
      bottom: 0;
  }

  .mobileLinks{
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style: none;
  }

  .mobileLinks li{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      color: rgb(119, 118, 118);
  }

  .navLinks{
      display: none;
  }

  .loginBtn,.registerBtn{
      display: none;
  }
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

