

body {
 height: 50vh;

 
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ********************home page ********************/
.mainContainer {
  background-color: #ffffff;
  width: 90vw;
  height: 100vh; /* Adjusted width */
  display: grid;
  z-index: -1;
}


.homeContainer {
  grid-row: 1 / 2;
  text-align: center;
  width: 50vw;
  height: 100%;
  color: #000000;
  display: block;
  background-color: #f9f9f9;
}

.WGC-primary-img {
  grid-row: 1/ 2;
  background-color: #000000;
  width: 50vw; /* Corrected unit */
  height: 100%auto;
  display: block;
}



.homeHeading {
  font-family: "teamfury";
  font-size: 55px;
  padding: 3vw;
}

.cap{
  font-family: "teamfury"
  black;
}


.homeInfo {
  font-size: 25px;
  line-height: 2;
  color: rgb(0, 0, 0);
}


/* ********************About page ******************** */
.FormidableFiveAbout {
  width: 50vw;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.img-section {
  flex: 1;
  height: 100vh;
  background-color: #000000;

}

.about-heading{
  font-size: 60px;
  background-color: #000000;
  font-family: "mobsters";
  font-weight: 60;
  color: #69061c;
  outline: #000000 3PX solid;
  border-radius: 20px 20px 20px 20px;
 
}

.wise-guy-title{
  font-size: 35px;
  font-family: 'Teamfury';
  color: #000000;
}


.about-section {
  background-color: #f9f9f9;
  flex: 2;
  padding: 40px;
  padding-top: 3vh;
  text-align: center;
  width: 50vw;
  color: rgb(0, 0, 0);
}

p {
  font-family: "RoyaleKingdom";
  font-size: 22.5px;
  font-weight: 900;
}

/***************** shop button on home page ******************/
.HSbtn {
  margin-top: 50px;
  font-family: "Mobsters";
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
}

a.homeBtn {
  text-decoration: none;
  background-color: black;
  width: fit-content;
  padding: 13px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 80px;
}

.homeBtn:hover {
  background-color: white;
  border: 3.5px solid #69061c;
  color: #69061c;
}


/******************* NAV LINKS AND MENU *****************/
.Hitmanlogo {
  width: 180px;
  height: 110px;
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: spinOnce .5s linear 1;  
}
@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-element {
  animation: spinOnce 2s linear 1; /* 2s duration, linear timing function, 1 iteration */
}

.NavBar {
  height: 150px;
  background-color: #000000;
  border-bottom: #545454 5px double;
}

ul:not(.Rnav-item) {
  height: 130px;
  background-color: #000000;
  list-style: none;
  align-items: center;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.dropdown {
  color: #69061c;
  font-family: "TeamFury";
  font-size: 35px;
  margin-right: 15px;
  animation: glow 5s infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }
}

.Right-nav-item {
  margin-left: auto;
}

.R-navLinks {
  display: flex;
  text-decoration: none;
  margin-right: 40px;
}

.signout .dashboard {
  color: #000000;
}

.Rnav-item {
  font-family: "Mobsters";
  text-decoration: none;
  text-align: center;
  font-size: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;

  
}

.nav-dropdown {
  display: inline-block;
  position: relative;
  display: inline-block;
}

.nav-link:not(.Rnav-item) {
  display: block;
  padding: 25px 0px 15px 0px;

  text-decoration: none;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-left: 40px;
  cursor: pointer;
}

.dropdown-content {
  width: 380px;
  display: flex;
  flex-direction: column fr 1 fr 1;
  display: table-column;
  position: absolute;
  background-color: #f9f9f9;
  padding-top: 10px;
  padding: 25px;
  padding-bottom: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px 20px 12px 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.dropdown-content a:hover {
  color: #ffffff;
}

.nav-dropdown.active .dropdown-content {
  display: block;
}

ul li:not(.Rnav-item) {
  display: grid 1fr 1fr;
  padding: 25px 0px 0px 0px;
  font-family: "TeamFury";
  display: inline-block;
  position: relative;
  color: #ffffff;
}

ul li a:not(.Rnav-item) {
  display: block;
  padding: 25px 0px 15px 0px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-left: 40px;
}
/* *************************Profile page************************* */
.Profile-container{
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
}

header{
  margin-top: 10px;
  font-family: "teamfury";
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}
h1{
  text-align: center;
  font-family: "TeamFury";
  font-size: 10px;
}
b{
  font-family: "Mobsters";
  font-size:68px;
  font-weight: 300;
  color: #69061c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0 , 7.55);
}

.under-construction{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 30px;
  animation: flash 2s infinite;
  height: 600px;
  text-align: center;
  font-size: 90px;
  font-family: "FortDeath-2";
}



@keyframes flash {
  0% {
    background-color: red;
  }
  25% {
    background-color: rgb(4, 0, 255), 
  }
  50% {
    background-color: rgb(255, 0, 0);
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}




/* *************************Cart page************************* */

.RemoveBtn{
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.356);
  width: 120px;
  padding: 3.5px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  height: fit-content;
}

.ADDbtn{
  text-decoration: none;
  background-color: rgba(0, 255, 60, 0.358);
  width: 120px;
  padding: 3.5px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  height: fit-content;
}


.LoginBtn {
  text-decoration: none;
  background-color: black;
  width: fit-content;
  padding: 13px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 80px;
}
.LoginBtn:hover {
  background-color: white;
  border: 3.5px solid #69061c;
  color: #69061c;
}

.cartpage-message {
  margin-top: 15vh;
  font-size: 50px;
  font-family: "TeamFury";
  text-align: center;
}

.cart-total {
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  width: 350px;
  height: 150px;
  padding: 25px;
  border: #69061c solid 3px;
  background-color: #ffffff;
  border-right: none;
  border-bottom: none;
  border-radius: 20px 0 0 0;
}

/* *********************** cart message *********************** */
.cartpage-message {
  margin-top: 15vh;
  font-size: 55px;
  font-family: "TeamFury";
  text-align: center;
  color: #69061c;
  text-shadow: 
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.added-to-cart-message {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  background-color: #49f04e; /* Background color */
  color: white; /* Text color */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Border radius for rounded corners */
  display: none; /* Initially hide the message */
  z-index: -1500;
}


.added-to-cart-message.show {
  display: block; /* Display the message when the 'show' class is present */
  animation: fadeInOut 3s ease-in-out; /* Add a fade-in and fade-out animation */
}

.removed-from-cart-message {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #d9534f; /* Red color, you can change this to your preferred color */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.removed-from-cart-message.show {
  display: block;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

/* ***********************SHOP PAGE*********************** */
.shop, .cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display three items per line */

  margin-left: 10px;
  margin-right: 10px;
  align-items: c
}

.shop-title {
  text-align: center;
  margin-top: 20px;
  font-weight: 900;
  font-size: 75px;
  font-family: "TeamFury";
  animation: example 10s infinite;
  padding-top: 10px;
  color: #f9f9f9;  text-shadow: 
  4px 4px 0 #69061c,  
  2px -3px 0 #69061c,
  -1px 1px 0 #69061c,
  6px 10px 0 #69061c;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.6.5;
    transform: translateX(20px);
  }
  50% {
    opacity: 1;
    transform: translateX(50px);
  }
  75% {
    opacity: 0.8;
    transform: translateX(20px);
  }
  100% {
    opacity: 3.5;
  }
}


/******************************** CARD ITEM**************************/


.card-item  {
  background-color: rgb(0, 0, 0);
  max-height: 800px;
  height: 800px;
  padding:3vw;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: #69061c 4px 2px 6px 5px;
  
  margin: 15px; 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  text-align: center;
  font-size: 15px;
  font-family: "TeamFury";
  padding: 3px;
text-shadow:  
  2px 4px 0 #69061c,  
  2px -1px 0 #69061c,
  -1px 1px 0 #69061c,
2px 5px 0 #69061c;
}

.card-image {
  width: 100%; /* Ensure the image takes up the full width */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  border: #69061c solid 4px;
  border-radius: 5%;
  box-shadow: #f9f9f9 0 0 5px 6px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: justify;

  height: 100%;
  width: 100%;
}

.card-body {
  flex-grow: 130; /* Adjusted the value for better proportions */
}

.card-description{
  display: table;
  text-align: center;
  font-size: 20px;
  font-family: "arial";
  /* width: 90%; */
  max-height: 90%;
  margin: auto;
}

.card-price {
  text-align: center;
  font-size: 20px;
  font-family: "arial";
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ************************SignUp Page and SignIn Page************************ */

.Signin-container {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.SignUp-container {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.sign-up-box {
  text-align: center;
  padding: 20px;
  border: 5px solid #69061c;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 70px 150px rgba(255, 255, 255, 0.793);
  width: 50%;
  height: 50%;
}

.sign-in-box {
  text-align: center;
  padding: 20px;
  border: 5px solid #69061c;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 70px 150px rgba(255, 255, 255, 0.793);
  width: 50%;
  height: 50%;
}

h2 {
  font-family: "Mobsters";
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 35px;
}

.Label {
  font-family: "Mobsters";
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}

.success-btn {
  font-family: "Mobsters";
  font-size: 50px;
  margin-top: 25px;
  text-decoration: none;
  background-color: black;
  width: fit-content;
  padding: 13px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 80px;
}

.success-btn:hover {
  background-color: white;
  border: 3.5px solid #69061c;
  color: #69061c;
}

/**************** FONTS ******************/

@font-face {
  font-family: "Mobsters";
  src: url("./core/Font/Mobsters.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FortDeath-2";
  src: url("./core/Font/FortDeath-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TeamFury";
  src: url("./core/Font/Team-Fury.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "thealiens";
  src: url("./core/Font/thealiens.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/***************************scroll bar************************************  */

/* styles.css */

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  color: hsla(0, 100%, 50%, 0.8); /* Red with 80% opacity */
  background-color: hsla(0, 0%, 37%, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  color: hsla(0, 100%, 50%, 0.878); 
  background-color: hsla(180, 1%, 21%, 0.5);
  border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #69061c;
}



/* *******************************MOBILE STYLES********************************* */

/* .mobileMenuBtn {
  display: none;
  width: 20px;
}

.mobileMenu{
  display: none;
}

@media screen and (max-width:800px)
{
  .navContainer{
      padding-inline: 16px;
  }

  .mobileMenuBtn{
      display: block;
      width: 60px;
      margin-right: 20px;
  }

  .mobilemenu{
      cursor: pointer;
  }

  .mobileMenu{
      display: block;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      background-color: #141414;
      padding: 80px 32px;
      bottom: 0;
  }

  .mobileLinks{
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style: none;
  }

  .mobileLinks li{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      color: rgb(119, 118, 118);
  }

  .navLinks{
      display: none;
  }

  .loginBtn,.registerBtn{
      display: none;
  }
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
